footer {
  width: 100%;
  height: 2em;
  line-height: 2em;
  color: $white;
  text-align: center;
  background-color: $light-blue-700;

  p {
    font-size: 1em;
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

}