header {
  width: 100%;
  color: $white;
  background-color: $light-blue-700;

  .container {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    line-height: 2.5em;
  }

  p {
    font-size: 1.5rem;
    margin: 0;
  }
}